In [1]:
import pandas as pd

In [5]:
vine_df=pd.read_csv("vine.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1XMZEVXUOOLE9,1,0,0,N,N
1,R2Q199J975YG4,5,0,1,N,Y
2,R1KOBCC3V6X5XF,1,0,0,N,Y
3,R1T5GM8819UJOQ,5,2,2,N,Y
4,RMJ1368NQUQH6,5,1,1,N,Y

In [7]:
#Retrieve all the rows where the total_votes count is equal to or greater than 20
vine_df_geaterthan20 = vine_df[vine_df.total_votes>=20]
vine_df_geaterthan20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
75,R1RB46N2W4MJHV,5,27,27,N,Y
381,R34D1X6KVGOGD2,3,20,25,N,Y
715,R2SN6PFYOM6XXX,5,64,76,N,Y
766,R1R1794PDTUXLZ,5,54,55,N,N
1219,ROI00QN8IS49I,5,83,91,N,N

In [8]:
# Retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
vine_df_50 = vine_df_geaterthan20[vine_df_geaterthan20.helpful_votes/vine_df_geaterthan20.total_votes*100>=50]
vine_df_50.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
75,R1RB46N2W4MJHV,5,27,27,N,Y
381,R34D1X6KVGOGD2,3,20,25,N,Y
715,R2SN6PFYOM6XXX,5,64,76,N,Y
766,R1R1794PDTUXLZ,5,54,55,N,N
1219,ROI00QN8IS49I,5,83,91,N,N

In [9]:
# Retrieve all the rows where a review was written as part of the Vine program (paid)
vine_df_paid = vine_df_50[vine_df_50.vine=='Y']
vine_df_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4078,R3N0XV9267NOXV,5,41,47,Y,N
11668,RSA6JQ346JZHZ,5,55,64,Y,Y
15257,R1FXF4HRMCLG4C,5,69,84,Y,N
16163,RCTBWC3II42MG,4,113,117,Y,N
30981,R15YCOJRBQ6GBM,3,28,36,Y,N

In [10]:
# Retrieve all the rows where a review was written as part of the Vine program (paid)
vine_df_nonpaid = vine_df_50[vine_df_50.vine=='N']
vine_df_nonpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
75,R1RB46N2W4MJHV,5,27,27,N,Y
381,R34D1X6KVGOGD2,3,20,25,N,Y
715,R2SN6PFYOM6XXX,5,64,76,N,Y
766,R1R1794PDTUXLZ,5,54,55,N,N
1219,ROI00QN8IS49I,5,83,91,N,N

In [20]:
# Determine the total number of paid reviews
total_paid_reviews = vine_df_paid["review_id"].count()
total_paid_reviews

463

In [21]:
# Determine the total number of non-paid reviews
total_nonpaid_reviews = vine_df_nonpaid["review_id"].count()
total_nonpaid_reviews

25094

In [22]:
# The number of 5-star paid reviews
paid_5stars = vine_df_paid[vine_df_paid.star_rating==5]
total_paid_5stars = paid_5stars["review_id"].count()
total_paid_5stars

202

In [23]:
# The number of 5-star nonpaid reviews
nonpaid_5stars = vine_df_nonpaid[vine_df_nonpaid.star_rating==5]
total_nonpaid_5stars = nonpaid_5stars["review_id"].count()
total_nonpaid_5stars

12033

In [24]:
# The percentage of 5-star reviews for the paid review 
total_paid_5stars/total_paid_reviews*100

43.628509719222464

In [25]:
# The percentage of 5-star reviews for the nonpaid review 
total_nonpaid_5stars/total_nonpaid_reviews*100

47.95170160197657